body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}

a {
    color:red;
}

#important_paragraph:hover{
	background-color:purple;
	color:yellow;
	font-size: 40px;

}

#less_important:hover{
	background-color:orange;
	color:blue;
	font-size: 30px;
}